@model IEnumerable<ServiceEntities.Collector.SiteLookupRecord>

@{
    ViewBag.Title = "Records";
}

<h2>Records</h2>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HostMacAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostIpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HostMacAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostIpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
    </tr>
}

</table>
