@using WebRole.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<meta name="viewport" content="width=device-width" />*@
    <!-- make the viewport non-user-zoomable for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap/base") 
    @Styles.Render("~/Content/font-awesome") 
    @Styles.Render("~/Content/dashboard")
	@*@Styles.Render("~/Content/bootstrap/theme")*@ 			
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Styles.Render("~/Content/themes/base/css")*@
</head>
<body data-ng-app="dashboard">
    <!--[if lt IE 9]><p class="error" style="clear:both;">'Breeze + Angular' requires browser support for defined properties.</p><![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
        @if (BrowserAgent.IsMobile(Request.UserAgent))
        {
            <div class="navbar-header">
                <a class="navbar-brand brand-padding" href="/"><img src="~/Content/images/WebTimer_graphic_small.png" height="46" alt="WebTimer" /></a>
            </div>             
        }
        else
        {
            <div class="navbar-header">
                <a class="navbar-brand brand-padding" href="/"><img src="~/Content/images/WebTimer.png" height="46" alt="WebTimer" /></a>
            </div>             
        }
               
        <!-- login menu -->
        @Html.Partial("_LoginMenu")

        <!-- header bar -->
        @if (User.Identity.IsAuthenticated && Request.Url.AbsolutePath.Equals("/")) {
            @Html.Include("~/app/dashboard/views/header.view.html")
        }
        </div>
    </nav> 

    @if (ViewData.ContainsKey("LandingPage"))
    {
        <div id="userSettings">
            @Html.Partial("_UserSettings")
        </div>

        <div id="body">
            @RenderBody()
        </div>
    }
    else
    {
        <div class="container main-container">
            @if (ViewData.ContainsKey("CustomBody"))
            {
                @RenderBody()
            }
            else
            {
                <div id="userSettings">
                    @Html.Partial("_UserSettings")
                </div>

                <div id="body">
                    @RenderBody()
                </div>
            }
            <!-- <hr /> -->
        </div>
    }

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container pull-right">
                <ul class="nav navbar-nav" id="menu">
                    <li><a href="/home/about"><strong>About</strong></a></li>
                    <li><a href="/home/contact"><strong>Contact</strong></a></li>
                    <li><a href="/home/terms"><strong>Terms</strong></a></li>
                    @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>*@
                    @if (!BrowserAgent.IsMobile(Request.UserAgent)) {
                        <li><a href="/"><strong>WebTimer, LLC &copy; @DateTime.Now.Year</strong></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajaxlogin")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
