@model WebTimer.WebRole.Models.LocalPasswordModel

<h3>Change password</h3>
<p></p>

@using (Html.BeginForm("ManagePassword", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <p />
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Current password" })
            </li>
            <li>
                <p />
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New password" })
            </li>
            <li>
                <p />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm new password"})
            </li>
        </ol>
        <input type="submit" class="btn btn-primary" value="Change password" />
        @Html.ValidationSummary()
    </fieldset>
}
