@model ICollection<WebTimer.WebRole.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <h3>Registered logins</h3>
    if (ViewBag.ShowRemoveButton) {
        <p class="explanation">(click to remove)</p>
    }
        foreach (WebTimer.WebRole.Models.ExternalLogin externalLogin in Model)
        {
                    if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <button class="socialLoginButton" type="submit" name="provider" value="@externalLogin.ProviderDisplayName" title="Remove this @externalLogin.ProviderDisplayName login from your account">
                                    <img width="32" src="/Content/images/@String.Concat(externalLogin.ProviderDisplayName.ToLower(), "_32.png")" />
                                </button>
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("Disassociate", "Account")) // form only used for CSS - there is no submit button
                        {
                            <div>
                                <img width="32" src="/Content/images/@String.Concat(externalLogin.ProviderDisplayName.ToLower(), "_32.png")" />
                            </div>
                        }
                    }
        }
}
