@model WebRole.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h2>Register with your @ViewBag.ProviderDisplayName account.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            You've successfully authenticated using your @ViewBag.ProviderDisplayName account.
            Click the Register button to finish registration using your @ViewBag.ProviderDisplayName address.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly", @style = "width: 200px; margin-bottom: 10px;" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <br />
        @if (ViewBag.RegistrationFailure != null && ViewBag.RegistrationFailure) {
            @:<a class="btn btn-success" href="/">Sign Up</a> &nbsp; with a different email.
        }      
        else {
            <input type="submit" class="btn btn-primary" value="Register" />
        }      
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
