@model WebRole.Models.LoginModel
@{
    ViewBag.Title = "WebTimer";
}
@using WebRole.Helpers;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

@if (@User.Identity.IsAuthenticated)
{
<!-- main dashboard div, which contains the app views -->
<div data-ng-app="dashboard">
    <!-- toolbar -->
    @Html.Include("~/app/dashboard/toolbar.view.html")
    <br />
    <!-- view -->
    <div data-ng-view=""></div> 
</div>
}
else
{
    @Html.Partial("_Authentication")
}

@if (@User.Identity.IsAuthenticated)
{
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />      

    @section scripts {
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/breeze")
        @Scripts.Render("~/bundles/date")
        @Scripts.Render("~/bundles/highcharts")
        @Scripts.Render("~/bundles/dashboard")
    }
}