@model WebRole.Models.LoginModel
@{
    ViewBag.Title = "WebTimer";
    var isMobile = BrowserAgent.IsMobile(Request.UserAgent);
    var isTablet = BrowserAgent.IsTablet(Request.UserAgent);
}
@using WebRole.Helpers;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}


@if (@User.Identity.IsAuthenticated)
{
<!-- main dashboard div, which contains the app views -->
    <div class="dashboard">
        <!-- toolbar -->
        @Html.Include("~/app/dashboard/views/toolbar.view.html")

        <!-- view -->
        <div data-ng-view=""></div> 
    </div>
}
else
{
    if (isMobile) {
    <div class="col-sm-12 col-xs-12 login-container">
        @Html.Partial("_Authentication")
    </div>
    }
    else {        
    <div class="container main-container landing-main">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 logo-image-container">
            <img class="logo-image" src="~/Content/images/WebTimer_tagline.png" alt="Stay on top of how your kids use the Web." />
            <a href="#product-info" onClick="productInfoClick()" class="btn btn-primary btn-lg learn-more-btn topLink">Learn more</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 login-container">
            @Html.Partial("_Authentication")
        </div>
    </div>
    
    <script type="text/javascript">
        function productInfoClick() {
            Events.Track(Events.Categories.LandingPage, Events.LandingPage.LearnMoreButton);
        }
    </script>
    
    <div id="product-info">
        <img class="screenshot-image" src="/Content/images/screenshot.png" alt="screenshot"/>
    </div>
    }
}

@if (@User.Identity.IsAuthenticated)
{
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />      

    @section scripts {
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/breeze")
        @Scripts.Render("~/bundles/extras")
        @Scripts.Render("~/bundles/highcharts")
        @Scripts.Render("~/bundles/dashboard")
    }
    
}

@if (!isMobile) {
<script type="text/javascript">
    // document ready handler 
    $(document).ready(function () {
        $("a.topLink").click(function () {
            $("html, body").animate({
                scrollTop: $($(this).attr("href")).offset().top + "px"
            }, {
                duration: 500,
                easing: "swing"
            });
            return false;
        });
    });
</script>
}
